@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

a{
    color: #fff;
}

/*
* Custom translucent site header
*/

#bande-logo{
    max-width: 100%;
    height: 100%;
}

.bg-blue{
    background-color: #0089B2;
}

.bg-brown{
    background-color: #B2600E;
}

.btn-blue{
    color: #fff;
    background-color: #0089B2;
    border-color: #0089B2;
}

.btn-outline-cyan{
    color: #2ECEFF;
    border-color: #2ECEFF;
    background-color: transparent;
}

.btn-outline-cyan:hover {
    color: #0089B2;
    background-color: rgba(255,255,255,.5);
    border-color: #2ECEFF;
}

.btn-outline-cyan:focus, .btn-outline-cyan.focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-cyan.disabled, .btn-outline-cyan:disabled {
    color: #2ECEFF;
    background-color: transparent;
}

/* > permet de cibler l'élément de bootstrap a modifier*/
.btn-outline-cyan:not(:disabled):not(.disabled):active, .btn-outline-cyan:not(:disabled):not(.disabled).active,
.show > .btn-outline-cyan.dropdown-toggle {
    color: #0089B2;
    background-color: rgba(255,255,255,.5);
    border-color: #2ECEFF;
}

.btn-outline-cyan:not(:disabled):not(.disabled):active:focus, .btn-outline-cyan:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-cyan.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

/*
* Extra utilities
*/

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden { overflow: hidden; }

.footer{
    background-color: #FF972E;
}

.nav{
    justify-content: center;
}

/*style liste*/

body{
    padding: 0;
    margin: 0;
    font-family: "montserrat", sans-serif;
    background: #f1f1f1;
}